if SHIELD_STARSHIP_R1_LEFT

config STARSHIP_R1
  default "Starship Rev.1"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_STARSHIP_R1_LEFT || SHIELD_STARSHIP_R1_RIGHT

config ZMK_SPLIT
  default y

endif
